@model Task.Models.sub_task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>sub_task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagepath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagepath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actual_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actual_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.budget_variance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.budget_variance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
